@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/* ====Resualble code==== */
img{
    display: block;
    object-fit: cover;
    width: 100%;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.box-content h2{
    font-size: 22px;
    font-weight: 700;
    line-height: 39.38px;
}
.box-content li{
    font-size: 16px;
    font-weight: 600;
    line-height: 28.64px;
    color: #1B1B1B;
}
/*===== key chakra section===== */
.key-point-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.key-point-container .key-heading{
    margin: 42px 0px;
    font-size: 32px;
    line-height: 38.72px;
    color:  #1B1B1B;
    font-weight: 700;
}

.key-box-content {
    display: flex;
    align-items: center;
    gap: 45.51px;
    width: 100%;
    max-width: 81.2%;
    justify-content: center;
    margin: 0 auto;
}

.pattren-box{
    width: 100%;
    max-width: 124.48px;
}
.keys-box-contianer {
    width: 100%;
    max-width: 1042px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5.24px 40.87px 0px #63636329;
    border-radius: 8px;
    padding: 29px 0px 30px;
    position: relative;
    margin-bottom: 24px;
}
.keys-box-contianer::before {
    content: "";
    position: absolute;
    background-image: url("/imgAssets/Vector\ 1597.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 62px;
    height: 182px;
    left: -63px;
    top: 100px;
}
.no-bg::before {
    background-image: none;
}
.box-content li {
    list-style-position: inside;
  }

/* ================== */

.chakra-btn a {
    display: block;
    font-weight: 600;
    line-height: 28.06px;
    font-size: 20px;
    text-decoration: none;
    color: #fff;
    width: 43.2%;
    /* height: 71px; */
    background: #53A973;
    box-shadow: 0px 7px 16.2px 0px #53A973A1;
    border-radius: 8px;
    text-align: center;
    /* line-height: 50px; */
    padding: 22px 47px 21px 51px;
}
.key-text-container p:nth-child(5) {
    font-weight: 700;
    margin: 17px 0 34px;
}
.key-text-container p:nth-child(4){
    font-weight: 500;
}
.key-text-container .para-box:nth-child(4), .key-text-container .para-box:nth-child(5) {
    font-size: 22px;
    line-height: 40.38px;
    width: 100%;
    /* max-width: 628px; */
    max-width: 96.34%;
    text-align: left;
}
.box-text h2{
font-size: 22px;
font-weight: 700;
line-height: 39.38px;
text-align: left;

}
.box-text p{
font-size: 22px;
font-weight: 500;
line-height: 39.38px;
text-align: left;

}
.para-flex {
    display: flex;
    align-items: center;
    align-items: flex-start;
    gap: 3px;
}
.para-flex  svg {
        margin-top: 5px;
}
.key-text-container {
    width: 100%;
    max-width: 63.3%;
}
.box-text {
    margin-bottom: 35px;
}
.key-text-container {
    width: 100%;
    max-width: 63.3%;
    margin: 57px auto 70px;
}



/*===== bounuces sections===== */
.Bonuses-headings-section {
    width: 100%;
    max-width: 916px;
    max-width: 76.4%;
    margin: 0 auto;
    text-align: center;
}
.Bonuses-headings-section h2{
font-size: 42px;
font-weight: 700;
line-height: 62.58px;
text-align: center;
color: #1B1B1B;
}

.Bonuses-headings-section .text-highlight{
    background-color: #53A973;
}
.Bonuses-headings-section .price{
  color: #53A973;
font-size: 48px;
font-weight: 700;
line-height: 71.52px;

}
.Bonuses-headings-section .total-value{
    font-size: 42px;
    font-weight: 400;
    line-height: 62.58px;
    text-align: center;
    color: #BBBBBB;
}
.Bonuses-headings-section .text {
    font-size: 22px;
    font-weight: 500;
    line-height: 39.38px;
    text-align: center;
    color: #1B1B1B;
    width: 100%;
    max-width: 60.75%;
    margin: 12px auto 58px;
}
.description-content-box .img-box {
    width: 100%;
    max-width: 22.8%;
    position: relative;
}
.description-content-box .img-two, 
.description-content-box .img-three {
    position: relative;
}

.description-content-box .img-two::before, .description-content-box .img-three::before {
    content: "";
    position: absolute;
    background-image: url("/imgAssets/Group\ 1597881231.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 93px;
    height: 93px;
    left: -30px;
    top: -30px;
}
.description-content-box .img-three::before{
    background-image: url("/imgAssets/Group\ 1597881231\ \(1\).png");
} 
.bundle-content-box-four .bundle-img::before{
    background-image: url("/imgAssets/Group\ 1597881231\ \(5\).png");
} 
.bundle-content-box-three .bundle-img::before{
    background-image: url("/imgAssets/Group\ 1597881231\ \(4\).png");
} 
.bundle-content-box-two .bundle-img::before{
    background-image: url("/imgAssets/Group\ 1597881231\ \(3\).png");
} 
.bundle-content-box-one .bundle-img::before{
    background-image: url("/imgAssets/Group\ 1597881231\ \(2\).png");
} 
.description-content-box .text-content-two {
    width: 100%;
    max-width: 55%;
}
.description-content-box .text-content ul li{
    list-style-position: inside;
}
.description-content-box .text-content-two ul li:last-child,
.description-content-box .text-content-three ul li:last-child{
list-style: none;
}
.description-content-box .text-content-two ul li:last-child a,
.description-content-box .text-content-three ul li:last-child a{
color: #0FB5EF;
}
.description-content-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 55px;
    width: 100%;
    max-width: 88.9%;
    margin: 0 auto;
    box-shadow: 0px 5.24px 40.87px 0px #63636329;
    padding: 32px 38px 32px 39px;
    border-radius: 8px;
    position: relative;
}
.description-content-box::before {
    content: "";
    position: absolute;
    background-image: url("/imgAssets/Vector\ 1597.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 62px;
    height: 260px;
    left: -62px;
    top: 120px;
}
.description-content-box-two::before {
    top: 140px;
}

.description-content-box-three::before {
    top: 180px;
}
.descripton-container .description-content-box:nth-child(2){
    margin: 40px auto;
}
.description-content-box .text-content h2 {
    width: 100%;
    max-width: 95%;
    font-size: 24px;
    font-weight: 600;
    line-height: 29.04px;
    text-align: left;
    color: #1B1B1B;
    margin-bottom: 5px;
}
.description-content-box .text-content  li{
    font-size: 16px;
    font-weight: 500;
    line-height: 28.64px;
    text-align: left;
    color:  #1B1B1B;
}
.bounces-box-price  span:first-child{
    font-size: 48px;
    font-weight: 700;
    line-height: 40px;
    color: #53A973;
}
.bounces-box-price  span:nth-child(2){
    font-size: 24px;
    font-weight: 700;
    line-height: 29.04px;
}

.descripton-container .bundle-section-heading h2{
    text-align: center;
    margin: 67px auto 35px;
}

.bundle-box-section.text-content h2 {  
    max-width: 85%; 
}
.bundle-box-section:nth-child(even){
    margin-top:40px;
    margin-bottom: 40px;
}
.bundle-content-box-three::before {
    top: 180px;
}
.bundle-content-box-two::before {
    top: 153px;
}
.bundle-content-box-four::before {
    top: 203px;
}
.bundle-content-box-four::before {
    background-image: none;
}
/*================ media quaries ===================*/
@media screen and (max-width:1092px) {
    .chakra-btn a {
        width: 52.2%; 
    }  
    .keys-box-contianer {
        max-width: 875px;  
    }
    .key-text-container {
        max-width: 85.3%;
    }
    .Bonuses-headings-section h2 {
        font-size: 34px;
        line-height: 50.58px;
        
    }
    .Bonuses-headings-section .price {
        font-size: 40px;
        line-height: 60.52px;
    }
    .Bonuses-headings-section .text {
        font-size: 20px;
        line-height: 32.38px;
    }
    .description-content-box .text-content h2 {
        max-width: 100%;
        font-size: 22px;
        line-height: 26.04px;
    }
    .Bonuses-headings-section {
        max-width: 74.4%;
    }
    .description-content-box {
        gap: 26px;
        max-width: 82.9%;
        padding: 32px 20px 32px 20px;
    }
    .description-content-box .img-box {
        max-width: 27.8%;
    }
}
  @media screen and (max-width: 992px) {
    .keys-box-container {
        max-width: 912px !important;
    }
    .keys-box-contianer::before {
        width: 50px;
        left: -51px;
        
    }
    .keys-box-contianer {
        max-width: 792px;
    }
    .box-content h2 {
        font-size: 20px;
        line-height: 30.38px;
        margin-bottom: 12px;
    }
    .description-content-box .text-content h2 {
        font-size: 16px;
        line-height: 24.04px;
    }
    .description-content-box .text-content h2 {
        font-size: 16px;
        line-height: 24.04px;
    }
    .description-content-box {
        gap: 18px;
        max-width: 74.9%;
        padding: 7px 34px 8px 34px;
    }
    .bundle-box-section:nth-child(even) {
        margin-top: 28px;
        margin-bottom: 28px;
    }
    .descripton-container .bundle-section-heading h2 {
        margin: 50px auto 35px;
    }
    .description-content-box .img-box {
        max-width: 34.8%;
    }
    .description-content-box::before {
        top: 177px;
    }
    .description-content-box .text-content  li {
        font-size: 14px;
        line-height: 26.64px;
    }
    .description-content-box .text-content h2 {
        font-size: 14px;
        line-height: 22.04px;
    }
    .bounces-box-price  span:first-child {
        font-size: 34px;
    }
    .bounces-box-price  span:nth-child(2) {
        font-size: 20px;
    }
}

 @media  screen and (max-width:767px) {
    .box-content h2 {
        font-size: 18px;
        line-height: 30.38px;
    }
    .key-box-content {
        gap: 24.51px;
        max-width: 89.2%;
    }
    .box-content {
        display: flex;
        flex-direction: column;
        gap: 6px;
    }
    .box-content li {
        font-size: 14px;
    }
    .keys-box-contianer {
        max-width: 592px;
    }
    .keys-box-contianer::before {
        width: 35px;
    }
    .keys-box-contianer::before {
        left: -40px;
       
    }
    /* br{
        display: none;
    } */
    .chakra-btn a {
        width: 54.2%;
        font-size: 16px;
    }
    .description-content-box {
        max-width: 76.9%;
        padding: 12px 20px 12px 20px;
    }
    .description-content-box {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .description-content-box .img-box {
        max-width: 90%;
        margin: 0 auto;
    }
    .description-content-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .description-content-box::before {
        top: 477px;
    }
    .description-content-box .text-content-two {
        max-width: 100%;
    }
    .bounces-box-price {
        width: 85%;
    }
    .description-content-box .text-content h2 {
        max-width: 90%;
        margin: 0 auto;
    }
    .description-content-box .text-content ul li {
            width: 90%;
            margin: 0 auto;
    }
    .Bonuses-headings-section h2 {
        font-size: 28px;
        line-height: 42.58px;
    }
    .Bonuses-headings-section .total-value {
        font-size: 34px;
        line-height: 50.58px;
    }
    .Bonuses-headings-section .price {
        font-size: 35px;
    }
    .Bonuses-headings-section .text {
        font-size: 20px;
        max-width: 80.75%;
    }
    .description-content-box::before {
        height: 295px;
    }

 }
 @media  screen and (max-width:567px) {
    .box-content h2 {
        font-size: 15px !important;
        line-height: 23.25px !important;
    }
    .box-content li {
        font-size: 9.5px !important;
        line-height: 17.64px !important;
    }
    .box-content {
        display: flex !important;
        flex-direction: column !important;
        gap: 4.15px !important;
    }
    .pattren-box {
        width: 100% !important;
        max-width: 59.15px !important;
    }
    .key-box-content {
        gap: 13.14px !important;
    }
    .key-point-container .key-heading {
        font-size: 20px;
        line-height: 24px;
    }
    .keys-box-contianer {
        max-width: 369px!important;
    }
    .keys-box-contianer::before {
        width: 20px !important;
        left: -21px !important;
    }
    .keys-box-contianer::before {
        width: 62px;
        height: 170px;
        top: 100px;
    } 
    .box-text p {
        font-size: 12.67px;
        line-height: 22.68px;
    }
    .box-text h2 {
        font-size: 12.67px;
        line-height: 22.68px;
    }
    .key-text-container {
        padding: 0 16px;
        max-width: 97%;
    }
    .para-flex  svg {
        width: 12.67px;
        height: 12.67px;
    }
    .key-text-container .para-box:nth-child(4), .key-text-container .para-box:nth-child(5){
        font-size: 12.67px;
        line-height: 22.68px;
    }
    .chakra-btn a {
        padding: 15px 0px 16px;
        font-size: 14.7px;
        width: 69.99%;
    }
    .midify svg{
        width: 20px;
        height: 12px;
    }
    .midify-2 svg{
        width: 30px;
        height: 16px;
    }
    .description-content-box .img-box {
        max-width: 100%;
    }
    .bounces-box-price  span:first-child {
        font-size: 28px;
    }
    .Bonuses-headings-section h2 {
        font-size: 20px;
        line-height: 32.58px;
    }
    .Bonuses-headings-section .text {
        font-size: 18px;
        max-width: 98.75%;
    }
    .Bonuses-headings-section .price {
        font-size: 28px;
    }
    .Bonuses-headings-section .total-value {
        font-size: 28px;
        line-height: 45.58px;
    }
    .description-content-box { 
        max-width: 67.9%;
        padding: 20px 20px 20px 20px;
    }
    .description-content-box .text-content  li {
        font-size: 12px;
        line-height: 20.64px;
    }
    .description-content-box::before {
        top: 390px;
    }
    .description-content-box::before {
        width: 40px;
        left: -40px;    
    }
    .descripton-container .bundle-section-heading h2 {
        margin: 29px auto 28px;
        font-size: 20px;
        line-height: 24px;
    }
    /* .Bonuses-headings-section h2 br{
        display: none;
    } */
 }
 @media screen and (max-width: 420px) {
    .keys-box-contianer {
        max-width: 323px!important;
    }
    .box-content h2 {
        font-size: 12px !important;
        line-height: 17.25px !important;
    }
    .box-content {
        display: flex !important;
        flex-direction: column !important;
        gap: 5.15px !important;
    }
    .keys-box-contianer {
        padding: 40px 0px 40px;
    
    }
    .box-content li {
        font-size: 7.5px !important;
        line-height: 13.64px !important;
    }
    .key-text-container {
        max-width: 97%;
    }
    .key-text-container {
        max-width: 100%;
        padding: 0px 16px;
    }
    .chakra-btn a {
        width: 77.9%;
    }
    .Bonuses-headings-section h2 {
        font-size: 24px;
        line-height: 29.58px;
    }
    .Bonuses-headings-section {
        max-width: 83.4%;
    }

    .Bonuses-headings-section .text {
        font-size: 14px;
        max-width: 100%;
        line-height: 25.06px;
    }
    .description-content-box {
        max-width: 69.9%;
    }
    .description-content-box::before {
        height: 230px;
        width: 28px;
        left: -30px;
        top: 432px;
    }
    .description-content-box {
        max-width: 67.9%;
        padding: 30px 30px 30px 30px;
    }
    br{
        display: block !important;
    }
}
